<div style="background-color: #333; padding: 10px 20px">
    <h1 style="text-align:center; color:white">This is response {{name}}</h1>
    <a href="/admin" style="color:white">Админ панель</a>
    <a href="/reverse" style="color:white">reverse page</a>
     <a href="/posts" style="color:white">posts page</a>
      <a href="/" style="color:white">home page</a>
</div>
<form action="{% url 'reverse' %}" style="background-color: #333; padding: 10px 20px">
    <textarea name="usertext">

    </textarea>
    <input type="submit" value="reverse">
</form>